<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users</title>
    <style>
        table {
            font-size: 13px;
            border: 1px solid gray;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table td, table td {
            padding: 9px 3px;
        }
    </style>
</head>
<body>
<div class="container">
<h1>Admin Panel: </h1>
<button onclick="window.location.href = '/admin/new';">Add new user</button>

<table border="1" id="cssTable">
    <tr>
        <th>UserId</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Username</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">

        <td th:utext="${user.userId}">UserId</td>
        <td th:utext="${user.name}">Name</td>
        <td th:utext="${user.lastName}">LastName</td>
        <td th:utext="${user.age}">Age</td>
        <td th:utext="${user.username}">Username</td>
        <td>
            <th:block th:each="role: ${user.roles}"
                      th:text="${role.getRoleName().replace('ROLE_', ' ')}">Roles
            </th:block>
        </td>
        <td>
            <form th:action="@{'/admin/edit/' + ${user.userId}}">
                <input type="submit" value="Edit"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{'/admin/delete/' + ${user.userId}}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>

    <form th:action="@{/logout}">
    <input type="submit" value="Logout"/>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>